<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.member.repository.MemberRepository">
	
	<resultMap type="memberVO" id="memberMap">
	    <id property="memberId" column="memberId"/>
	    <result property="memberId" column="memberId"/>
	    <result property="memberPwd" column="memberPwd"/>
	    <result property="memberName" column="memberName"/>
	    <result property="memberEmail" column="memberEmail"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" ofType="authVO" resultMap="authMap"/>
	</resultMap>
	
  	<resultMap type="authVO" id="authMap">
  		<result property="id" column="id"/>
  		<result property="auth" column="auth"/>
  	</resultMap>
	
	<select id="selectById" resultMap="memberMap">
		select 
		    m.memberId, memberPwd, memberName, memberEmail, enabled, 
		    a.auth
		from tbl_member m left outer join tbl_member_auth a
		on m.memberId = a.id
		where m.memberId = #{memberId}
	</select>
	
	<insert id="insert">
		insert into tbl_member(memberId,memberPwd,memberName,memberEmail)
		values(#{memberId},#{memberPwd},#{memberName},#{memberEmail})
	</insert>
		
	<delete id="delete">
		delete from tbl_member where memberId=#{memberId}
	</delete>
	
<!-- 	ID,PWD 찾기 -->
	<select id="selectByEmail" resultType="String">
		select memberId from tbl_member where memberEmail=#{memberEmail}
	</select>
	
	<update id="updatePwd">
		update tbl_member set
			memberPwd = #{memberPwd} 
		where memberId = #{memberId}
	</update>
	
	<!-- 프로필 이미지 -->
	<select id="getImage">
		select uuid, uploadPath, fileName, mno from tbl_member_attach where mno =#{mno}
	</select>

	<insert id="insertImage">
		insert into tbl_member_attach(uuid,uploadPath,fileName,mno)
		values (#{uuid},#{uploadPath},#{fileName},#{mno})
	</insert>
	
	<delete id="deleteImage">
		delete from tbl_member_attach where mno=#{mno}
	</delete>
</mapper>