<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.book_report.repository.ReplyRepository">
	
	<insert id="insert">
		insert into tbl_reply (rno,bno,reply,replyer)
		values (seq_reply.nextval, #{bno},#{reply},#{replyer})
	</insert>
	
	<select id="read" resultType="replyVO">
		select * from tbl_reply where rno=#{rno}
	</select>
	
	<delete id="delete">
		delete from tbl_reply where rno=#{rno}
	</delete>
	
	<update id="update">
		update tbl_reply set
			reply=#{reply}, 
			updateDate=sysdate
		where rno=#{rno}
	</update>
	
	<select id="getList" resultType="replyVO">
		<![CDATA[
		select * from(
			select rownum as rn,
			 r.bno, r.rno, r.reply, r.replyer, r.replyDate, r.updateDate,
			 m.uuid, m.fileName
			FROM(
				select
					rownum as rn, bno, rno, reply, replyer, replyDate, updateDate
				from tbl_reply
				where bno = #{bno} order by rn desc
				) r
			left outer join tbl_member_attach m on r.replyer = m.mno
			where rownum <= #{criteria.maxRow} 
		) 
		where rn > #{criteria.minRow} 
		]]>
	</select>
	
	<select id="getReplyCount" resultType="int">
		select count(rno) from tbl_reply where bno = #{bno}
	</select>
</mapper>