<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.book_report.repository.ReportLikeRepository">
	<insert id="insert">
		insert into report_like(id,bno) values(#{id},#{bno})
	</insert>
	
	<select id="get" resultType="likeDTO">
		select * from report_like where bno=#{bno} and id=#{id}
	</select>
	
	<delete id="delete">
		delete from report_like where bno=#{bno} and id=#{id}
	</delete>
</mapper>